.user_main {
  display: flex;
}

.user_profile_section {
  padding: 5%;
}

.user_thumb_img {
  width: 40%;
  border-radius: 50%;
  width: 100%;
}

.user_name_h1 {
  color: rgb(230, 230, 230);
}

.user_username_h2 {
  color: rgb(230, 230, 230);
}

.user_reps_section {

}
