.user_main {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.user_profile_section {
  margin: 60px;
  width: 50%;
  max-width: 280px;
  border-bottom: 0.1px solid #2a2d30;
  height: fit-content;
  padding-bottom: 50px;
}

.user_profile_section span {
  color: #8b949e;
}

.user_thumb_img {
  width: 30%;
  border-radius: 50%;
  max-width: 340px;
  border: 1px solid #4e5053;
  position: absolute;
}

.user_name_h1 {
  color: #c9d1d9;
  margin: 340px 0 0 0;
}

.user_username_p {
  color: #8b949e;
  font-size: 150%;
  margin: 0;
}

.user_bio_p {
  color: #c9d1d9;
  margin: 3% 0;
}

.user_follow_button {
  margin: 6% 0;
  font-size: 15px;
  color: #c9d1d9;
  border: 1px solid #4e5053;
  background-color: #292c30;
  padding: 3.5%;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out 0s;
}

.user_follow_button:hover {
  border: 1px solid #9da1a7;
  background-color: #393d42;
}

.user_follow_section {
  display: flex;
  margin: 8% 0;
}

.user_follow_p {
  color: #8b949e;
  font-size: 94%;
}

.user_follow_p b {
  color: #c9d1d9;
}

.user_profile_svg {
  fill: #8b949e;
  width: 25px;
  margin: 0 2% 0 0;
}

.user_blog_section {
  display: flex;
  margin: 3% 0;
}

.user_blog_p {
  color: #c9d1d9;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
}

.user_reps_section {
  width: 50%;
  margin-top: 70px;
}

.user_header {
  color: #c9d1d9;
  position: fixed;
  border-bottom: 0.1px solid #2a2d30;
  background-color: #0d1117;
  width: 100%;
}

.user_header_h3 {
  height: 30px;
  border-bottom: 2px solid #f78166;
  border-radius: 15px 15px 0 0;
  padding: 1.5%;
  width: fit-content;
  margin-left: 50%;
  display: flex;
  align-items: center;
  transition: all 0.1s ease-in-out 0s;
}

.user_header_h3:hover {
  background-color: #272a2e;
  cursor: pointer;
}

.user_header_svg {
  fill: #8b949e;
  width: 40px;
  margin: 0 8% 0 0;
}

.user_rep_section {
  padding: 4% 0;
  border-top: 1px solid #2a2d30;
  border-bottom: 1px solid #2a2d30;
  height: fit-content;
}

.user_repSubInfos_section {
  display: flex;
  align-items: center;
}

.user_repTitle_a {
  width: 100%;
  color: #58a6ff;
  text-decoration: none;
  font-size: 130%;
  font-weight: bold;
  word-wrap: break-word; 
}

.user_repTitle_a:hover {
  text-decoration: underline;
}

.user_repDescription_p {
  margin: 3% 0 0;
  color: #8b949e;
}

.user_repTopics_section {
  display: flex;
  margin: 3% 0 0;
}

.user_repTopic_p {
  font-size: 80%;
  color: #58a6ff;
  padding: 1.5%;
  margin: 0 0.5%;
  width: fit-content;
  background-color: #172b42;
  border-radius: 50px;
}

.user_repTopic_p:hover {
  color: #ffffff;
  background-color: #1363be;
  cursor: pointer;
}

.user_RepSubInfo_p {
  font-size: 90%;
  margin: 5% 5% 0 0;
  color: #8b949e;
}

.user_rep_svg {
  fill: #8b949e;
  width: 12px;
  margin: 0px 5px 0;
}

.user_rep_section span {
  margin: 0 0 0 3%;
  padding: 1% 1.5%;
  border-radius: 45px;
  border: 1px solid #2a2d30;
  color: #8b949e;
  font-size: 90%;
}
